{{template "base" .}}

{{define "content"}}
   <h1 class="text-center font-extrabold text-6xl my-3">Frequent Asked Questions</h1>
   <br>

   <div class="max-w-5xl m-auto">
      <div class="collapse collapse-arrow bg-base-200">
         <input type="radio" name="my-accordion-2"/>
         <div class="collapse-title text-xl font-medium">
            How can I import my flashcards to Quizlet?
         </div>
         <div class="collapse-content">
            <p>hello</p>
         </div>
      </div>
      <br>
      <div class="collapse collapse-arrow bg-base-200">
         <input type="radio" name="my-accordion-2" />
         <div class="collapse-title text-xl font-medium">
            How can I import my flashcards to StudySmarter(Vaia)?
         </div>
         <div class="collapse-content">
            <p>hello</p>
         </div>
      </div>
      <br>
      <div class="collapse collapse-arrow bg-base-200">
         <input type="radio" name="my-accordion-2" />
         <div class="collapse-title text-xl font-medium">
            About this software
         </div>
         <div class="collapse-content">
            <p>hello</p>
         </div>
      </div>
   </div>
{{end}}