{{template "base" .}}

{{define "content"}}
   <h1 class="text-center font-extrabold text-6xl my-3">Generate your Flashcards!</h1>

   <div class="max-w-md m-auto">
      <form class="form-control" action="/generator" method="POST">
         <label class="label">
            <span class="label-text"></span>
            <div class="tooltip" data-tip="For Japanese characters, you can separate the characters with the Japanese '、' for Chinese characters, you can use the Chinese '，' for both of them, you can use the traditional ',' however, you cannot mix them within the same input">
               <span class="label-text-alt my-0"><svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
                  <g id="surface1">
                  <path d="M 5.5 8.5 L 6.5 8.5 L 6.5 5.5 L 5.5 5.5 Z M 6 1 C 3.238281 1 1 3.238281 1 6 C 1 8.761719 3.238281 11 6 11 C 8.761719 11 11 8.761719 11 6 C 11 3.238281 8.761719 1 6 1 Z M 6 10 C 3.796875 10 2 8.203125 2 6 C 2 3.796875 3.796875 2 6 2 C 8.203125 2 10 3.796875 10 6 C 10 8.203125 8.203125 10 6 10 Z M 5.5 4.5 L 6.5 4.5 L 6.5 3.5 L 5.5 3.5 Z M 5.5 4.5 "/>
                  </g>
                  </svg>
               </span>
            </div>
         </label>
         <textarea id="characters" name="characters" placeholder="Enter the character string (買う、歌う)/(复习，中文)" class="input input-bordered input-primary w-full mb-4 min-h-[15vh]"></textarea>
         
         <div class="d-block text-center mb-3">
         <span class="mx-3">
            <input type="radio" id="jp" name="language" value="jp">
            <label for="jp">Japanese</label>
         </span>
         <span class="mx-3">
            <input type="radio" id="ch" name="language" value="ch">
            <label for="ch">Chinese</label>
         </span>
         </div>

         <input type="submit" value="Generate" class="btn btn-primary"/>
      </form> 
   </div>
{{end}}

{{define "js"}}
{{end}}