{{template "base" .}}

{{define "content"}}
   <div class="hero">
      <div class="hero-content text-center">
         <div class="max-w-md">
            <h1 class="text-6xl font-bold">Welcome!</h1>
            <p class="py-6">This software will allow you to easily generate flashcards that can be imported into Quizlet or StudySmarter(Vaia)</p>
            <a href="/generator" class="btn btn-primary">Get Started</a>
         </div>
      </div>
   </div>
{{end}}